.main {
  display: flex;
  width: 100%;
  background-size: cover;
  flex-grow: 1;
  justify-content: space-between;
}

.auth-wrapper {
  display: flex;
  height: 200px;
  width: 200px;
  align-items: center;
  border-radius: 15px;
  border: 3px solid black;
  background-color: beige;
  padding-right: 50px;
}

.games-wrapper {
  display: flex;
  padding: 90px 0 0 0;
  column-gap: 20px;
  height: auto;
  flex-direction: column;
}

.all-games {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 230px;
  width: 180px;
  border-radius: 5px;
  background-size: contain;
  background-repeat: no-repeat;
  justify-content: center;
  font-family: cursive;
  font-size: 30px;
  transition: 0.3s;

}

.game-wrapper {
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #9991c9;
  border: 3px solid black;
  height: 250px;
  width: 200px;
}

.game-wrapper:hover {
  box-shadow: 5px 5px 5px black;
}

.game:hover {
  background-color: beige;
}

.game-wrapper:hover .game {
  background-color: beige;
}

.about {
  max-width: 790px;
  width: 100%;
  font-size: 30px;
  font-family: cursive;
  padding-top: 80px;
}

.profile-logo {
  height: 100px;
  width: 100px;
  margin: 30px 30px 0 0;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-family: cursive;
  text-align: center;
  cursor: pointer;
  background-color: white;
  border-radius: 50px;
  transition: 0.3s;

}

.profile-logo:hover {
  color: bisque;
  background-color: bisque;
}


