.btn {
  display: flex;
  background-color: beige;
  outline: none;
  font-family: cursive;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: 1px solid black;
  cursor: pointer;
}

.login-button {
  margin: 40px 0 0 50px;
  height: 30px;
  width: 190px;
}

.enter-button {
  margin-top: 20px;
  height: 30px;
  width: 130px;
  background-color: inherit;
  transition: 0.3s;
  font-size: 15px;
}

.register-button {
  height: 30px;
  width: 130px;
  background-color: inherit;
  transition: 0.3s;
  border: none;
  border-radius: unset;
  font-size: 18px;
}

.register-button:hover {
  color: #ff3e15;
  box-shadow: 0 2px 0 0 #ff3e15;;
}

.enter-button:hover {
  background-color: hsla(0, 0%, 100%, .5);
  color: #ff3e15;
}

.form-button {
  height: 15px;
  width: 15px;
  border: none;
  background-color: inherit;
  font-size: 20px;
  font-family: cursive;
  padding: 10px 10px 0 0;
  position: relative;
  left: 100px;
}

.form-button:hover {
  color: #9991c9;
}

