input {
  height: 25px;
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 2px solid #fff;
  text-align: center;
  font-family: cursive;
  font-size: 18px;
  width: 75%;
}

@media (max-width: 800px) {
  input {
    font-size: 12px;
  }
}

@media (max-width: 450px) {
  .form-input {
    height: 20px;
  }
  input {
    font-size: 9px;
  }
}
