.word-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-self: center;
  justify-content: center;
  padding: 0 10px;
  width: 100%;
}

.words__wrapper {
  flex: 1 0 auto;
  padding: 10px;
  display: flex;
  justify-content: center;
  min-height: 655px;
}