* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html,
body {
  height: 100%;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  background-image: url('./assets/jpg/main-background.jpg');
}

@media (max-width: 800px) {
  .App {
    background-position: center;
    background-size: cover;
  }
}


